body {
  background-color: #e1e1ea;
  /* font-family: 'Bodoni Moda', serif;
  font-weight: 600;
  font-size: 2rem;
  color: #94949e; */
};

/* red: #660022 */
/* dark grey: #94949e */
/* background: #e1e1ea */
/* turquoise: #0f8a8a */